/* RESET CSS */

*, *::after, *::before {
    margin: 0;
    padding: 0;
}

*,:after,:before,input {
  box-sizing: border-box;
  position: relative;
  font-family: Helvetica, sans-serif;
  color: rgb(119, 119, 119);
}

*:not(input), #title {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: 1.25em;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p, th, td, li, dd, dt, ul, ol, blockquote, q, acronym, abbr, a, input, select, textarea {
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

/* MAIN CSS */

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.board {
  border-collapse: collapse;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 2em;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  color: black;
}

.preFilled {
  color: rgb(119, 119, 119);
}

.light {
  background-color: #ffd2d2;
}

.dark {
  background-color: #b74040;
}

.row:nth-child(3n + 3):not(:last-child) .cell{
  border-bottom: 2px solid black;
}

.cell:nth-child(3n + 3):not(:last-child) {
  border-right: 2px solid black;
}

.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tools .cell {
  color: rgb(119, 119, 119);
}

.tools .cell:hover {
  background-color: darkgrey
}

.tools .cell:active {
  background-color: rgb(119, 119, 119);
}

.selected {
  color: black;
  background-color: aquamarine;
}

.tools-sub {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.tool {
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  margin: 1em;
  transition: opacity 0.3s ease 0s;
}

.tool:hover {
  color: #b74040;
}